In [5]:
import pandas as pd
import numpy as np

In [6]:

yrs_lst = [ 2011, 2012, 2013, 2014]
df_crime = pd.read_csv("./crime_data/crime_2010/crime_2010.tsv", sep='\t')
df_crime = df_crime.loc[:,["FIPS_ST", "FIPS_CTY", "CPOPCRIM", "VIOL", "PROPERTY"]]
df_crime["crime_rate_" + str(2010)] = (df_crime.VIOL + df_crime.PROPERTY) / df_crime.CPOPCRIM
df_crime = df_crime.drop(["CPOPCRIM", "VIOL", "PROPERTY"], axis = 1)


for yr in yrs_lst:
    df_new = pd.read_csv("./crime_data/crime_" + str(yr) + "/crime_" + str(yr) + ".tsv", sep='\t')
    df_new = df_new.loc[:,["FIPS_ST", "FIPS_CTY", "CPOPCRIM", "VIOL", "PROPERTY"]]
    df_new["crime_rate_" + str(yr)] = (df_new.VIOL + df_new.PROPERTY) / df_new.CPOPCRIM
    df_new = df_new.drop(["CPOPCRIM", "VIOL", "PROPERTY"], axis = 1)
    df_crime = pd.merge(df_crime, df_new, on = ["FIPS_ST", "FIPS_CTY"])

df_crime = df_crime[~df_crime.isin([np.nan, np.inf, -np.inf]).any(1)]
## Save cleaned crime rate data
df_crime.to_csv("./crime_data/crime_data_clnd.csv")

In [7]:
df_crime.head()

,FIPS_ST,FIPS_CTY,crime_rate_2010,crime_rate_2011,crime_rate_2012,crime_rate_2013,crime_rate_2014
0,1,1,0.030492,0.033410,0.034869,0.033144,0.032412
1,1,3,0.024942,0.028765,0.028986,0.027193,0.022959
2,1,5,0.017661,0.027475,0.020418,0.029142,0.030095
3,1,7,0.020380,0.027516,0.019600,0.013909,0.011806
4,1,9,0.005740,0.024532,0.025367,0.024841,0.024036